<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>System is being upgraded.  Return after some time</p>

    {{> footer}}
  </body>
</html>
